<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
<h1>Welcome <%= @user.name%> <ul class="nav pull-right"><li> <%= link_to "Log out", logout_path, method: "delete" %></li><li><%= link_to "Profile", current_user %></li></ul> </h1>


<div class='unit three-of-five'>
	<div class='unit one-of-two'>
		<p>You are currently viewing temperature data for <%= link_to "#{@capability.name}", page_path(@capability.id) %> for the following days:
	<p/>
	</div>
	<div class='unit one-of-two'>
	<% @docxml.xpath("//DV//Location//Period").each do |node| %>
	    <h5><%= format_day(node['value']) %></h5>
	<% end %>
	</div>
	<% @docxml.xpath("//DV//Location//Period").each do |node| %>
	    <h3>Day: <%= format_day(node['value']) %></h3>
			    <% node.xpath("//Rep").each do |r| %>
		<table>
			<thead>
				<tr>
					<th>Weather Type</th>
					<th>Temperature</th>
					<th>Wind Direction</th>
					<th>Wind Speed</th>
				</tr>
			</thead>
			<tbody>
			    <tr>
							<td><%= weather_type(r['W']) %></td>
							<td><%= r['T'] %></td>
							<td><%= r['D'] %></td>
							<td><%= r['S'] %></td>
						</tr>
						<!-- <br /><br />  -->
			    <% end %>
			</tbody>
		</table>
	<% end %>


</div>

<div class='unit two-of-five'>
     <div id="map_canvas"></div>
    <input id="address" type="hidden" placeholder="Aberdeen">
    <input type="hidden" value="Encode" onclick="codeAddress()">
</div>