<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
</div>
##################
<h1>Welcome <%= @user.name%> </h1>

<p>Click to view Approved  Vehicle Testing Companies in the UK.<br />
<p> Search by<br />
<%= link_to "City", '#' %>
<%= link_to "Post Code", '#' %>
<p> Search by map<br />
<%= link_to "#", '#' %>
</p>