<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Earthquake app", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
             <li><%= link_to "Home",    root_path %></li>
             <li><%= link_to "About",  about_path %></li>
              <li><%= link_to "Login", login_path %></li>
              <li><%= link_to "Sign up", '#'%></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
</div>

<div class="righttwitter">
    <a class="twitter-timeline" href="https://twitter.com/Earthquakeapp1" data-widget-id="446598676408848384">Tweets by @Earthquakeapp1</a>
    <script>
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
    if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
</div>
