<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<<<<<<< HEAD
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Earthquake app", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
             <li><%= link_to "Home",    root_path %></li>
             <li><%= link_to "About",  about_path %></li>
              <li><%= link_to "Login", login_path %></li>
              <li><%= link_to "Sign up", signup_path%></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
=======
   <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
   </div>
</body>
>>>>>>> 231d11cdf2fbfa83575c9fdd139f6d20154f6fc4
</html>
